.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 27rem;
  margin-top: 5rem;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  margin-bottom: 1rem;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#btn{
  width: 4.5rem;
}